* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body.dark {
    background-color: #000;
    color: #fff;
}
/* main navbar style */
nav.navbar-one {
    display: flex;
    text-align: center;
    
    padding: 2em 0em 2em 23em;

}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    background: #fff;

    box-shadow: 0px 5px 15px 0px;
}

div.socials {
    display: flex;
    align-items: center;
    
}

div.socials i {
    margin: 0 0.5em;
    cursor: pointer;
}

div.socials i:hover {
    color: blue;
}

div.logo {
    font-family: arial;
    font-size: 3em;
    font-weight: bolder;
    margin-left: 4em;
    
}

div.date {
    display: inline-flex;
    height: 2.5em;

    margin-left: 8em;
    
}

p.full-date {
    color: red;
    font-weight: bolder;
    margin-right: 0.5em;
    padding: 1em 0;
}

button.btn {
    background-color: red;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 0.8em;
    border-radius: 5px;
    border: 0;
    outline: 0;
    margin-right: 0.5em;
    cursor: pointer;
}

button.dark-light {
    background-color: red;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0.4em;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
}


/* nav-links style */
nav.nav-links ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1.5em 0;
    
}

div.navlinks-underline {
    height: 0.1em;
    width: 60vw;
    background: #efefef;
    display: block;
    margin: 0 auto;
}

nav.nav-links ul li {
    margin: 0 1em;
}

nav.nav-links ul li a {
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    font-weight: bolder;
}

button.open-hamburger-menu {
    border: 0;
    background: transparent;
}

button.close-hamburger-menu {
    display: none;
    border: 0;
    background: transparent;
}

div.hamburger-menu {
    display: none;
    background-color: #000;
    
    transition: all 0.5s ease-in-out;

}

div.hamburger-menu-container {
    display: grid;
    margin-left: 24em;
    grid-template-columns: 12em 12em 12em;
    column-gap: 10em;
    row-gap: 0;

    padding: 2em 0;

}

div.hamburger-menu a {
    text-decoration: none;
    color: #fff;
    margin: 0.5em 0;
}

/* main styles */
/* section #1 */
section.section-one {
    margin-top: 40px;
}

.section-one .container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

div.weekly-top-five {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 1em;

}

.weekly-top-five h1 {
    color: red;
    text-transform: uppercase;
}

.underline {
    height: 0.1em;
    width: 100%;
    background: #efefef;

    margin: 25px 0;
}

div.one {
    display: flex;
    justify-content: space-between;
}

div.one-group {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    

    margin-right: 0.7rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.one-group img {
    width: 65px;
    height: 65px;
    border-radius: 50%;

    position: absolute; 
    z-index: -1;
       
}


div.one-group::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    
}


p.one {
    color: #fff;
    font-size: 2em;
    font-weight: 900;

    z-index: 1;
    
    transition: transform 0.3s;
}

p.two {
    color: #fff;
    font-size: 2em;
    font-weight: 900;

    position: absolute;

    z-index: 1;

    transition: transform 0.3s;
}

p.three {
    color: #fff;
    font-size: 2em;
    font-weight: 900;

    position: absolute;
    z-index: 1;
    
    transition: transform 0.3s;
}

p.four {
    color: #fff;
    font-size: 2em;
    font-weight: 900;

    position: absolute;
    z-index: 1;
    

    transition: transform 0.3s;
}

p.five {
    color: #fff;
    font-size: 2em;
    font-weight: 900;

    position: absolute;
    z-index: 1;
    
    transition: transform 0.3s;
}

div.one-group i {
    opacity: 0;
    position: absolute;
    left: 1.3em;
    top: 1.3em;
    color: #fff;
    
    z-index: 1;

    transition: transform 0.3s;
}

div.one h4 {
    width: 160px;
    
    margin-top: 5px;
}

div.one h4:hover {
    cursor: pointer;
    color: gray;
}

/* news hub */
div.news-hub {
    width: 630px;
}

div.news-hub-visual {
    position: relative;
}

div.news-hub-visual:hover .img-overlay {
    opacity: 1;
    z-index: 1;
}

div.news-hub-visual img {
    width: 620px;
    height: 500px;
}

div.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    
    opacity: 0;
    
 }


 div.img-overlay a {
     color: #fff;
     font-weight: bolder;
 }
 

div.news-hub h5 {
    text-transform: uppercase;
    color: red;

}

div.news-hub h5,
div.news-hub h2,
div.news-hub p {
    margin: 1em 0;
}

p.daily-date {
    color: gray;
}

.underline-vertical {
    
    height: 40em;
    width: 0.1em;
    background: #efefef;

    margin: 0 1em;
}

/* latest section */
div.latest {
    max-width: 260px;
}

div.latest header {
    display: flex;
    justify-content: space-between;
    min-width: 260px;
}

div.latest header h1 {
    text-transform: uppercase;
    color: red;
    font-size: medium;
    margin-right: 2em;
}

div.latest header p {
    color: gray;
}

div.two p {
    color: gray;
}
div.two-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    
}

div.two-group h4 {
    cursor: pointer;
    width: 175px;
    margin-right: 5px;
}

div.two-group h4:hover {
    color: gray;
}

div.two-group img {
    width: 80px;
    height: 80px;
    
}

/* *******section #2 top news******* */
div.section-two-container {
    display: block;
    width: 1200px;
    margin: 2em auto;

}

p.sub-title {
    color: red;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 1.5em;
}

div.top-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

div.top-news-one,
div.top-news-two,
div.top-news-three {
    width: 366px;
    margin-right: 1em;
}

div.top-news img {
    width: 366px;
    height: 206px;
}

div.read-more {
    position: relative;
}

div.read-more:hover .img-overlay-zone-2 {
    opacity: 1;
    z-index: 1;
}

div.img-overlay-zone-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    
    opacity: 0;
    
}

div.img-overlay-zone-2 a {
    color: #fff;
    font-weight: bold;
}

div.top-news h3:hover {
    cursor: pointer;
    color: gray;
}

div.top-news h3,
div.top-news p {
    margin: 1em 0;
}

p.author-info {
    color: gray;
    font-size: 12px;
}

/* section #3 */
section.section-three {
    background-color: #000;
    color: #fff;
    height: 350px;
}

.section-three h2 {
    text-align: center;
    font-size: 2em;
    margin: 1em 0;
    padding-top: 1.5em;
}

.section-three p {
    font-size: 1.2em;
    text-align: center;
    margin: 0 0 1.5em 0;
}

form.optin {
    display: block;
    width: 900px;
    margin: 2em auto;

    position: relative;
}

input.email {
    height: 4.2em;
    width: 300px;
    font-size: 1em;
    outline: none;
} 

input.name {
    height: 4.2em;
    font-size: 1em;
    width: 450px;
    position: absolute;
    outline: none;
}

button.s3-btn {
    padding: 1em;
    position: absolute;
    left: 35em;
    top: 0.5em;
    
    background-color: red;
    border: 0;
    color: #fff;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 5px;

    cursor: pointer;
}

/* section #4 */
div.s4-container {
    display: flex;
    justify-content: center;
    margin: 1.5em auto
}

h4.s4-cat {
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    margin: 1em 0;
}

div.column-1 {
    width: 590px;
    
}

div.column-1 img {
    width: 580px;
}

div.column-1 h2 {
    font-size: 2.8em;
    cursor: pointer;
    margin-bottom: 1em;
}

div.column-1 h2:hover {
    color: gray;
}



div.column-2, 
div.column-3 {
    width: 254px;
}

div.column-2 img,
div.column-3 img {
    width: 254px;
    height: 190px;
}

div.hub-1 {
    margin-bottom: 2em;
}

div.column-2 h2,
div.column-3 h2 {
    font-weight: 500;
    cursor: pointer;
}

div.column-2 h2:hover,
div.column-3 h2:hover {
    color: gray;
}

div.column-3 div.hub-1 {
    margin-bottom: 4em;
}

div.read-more {
    position: relative;
}

div.read-more:hover .img-overlay-zone-3 {
    opacity: 1;
    z-index: 1;
}

div.img-overlay-zone-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    
    opacity: 0;
    
}

div.img-overlay-zone-3 a {
    color: #fff;
    font-weight: bold;
}

/* section #5 */

div.s5-container {
    display: flex;
    width: 1200px;

    margin: 3em auto;

}

div.left {
    margin-right: 2em;
    
}

div.left h2:nth-child(1) {
    margin-bottom: 2em;
    text-transform: uppercase;
    color: red;
    
}

div.global-hub {
    width: 801px;
    
    margin-top: 1em;

}

div.article {
    border: 1px solid #efefef;

    padding-top: 2em;
    padding-left: 1em;
}


div.global-hub-1,
div.global-hub-2,
div.global-hub-3 {
    width: 759px;
    height: 258px;

    display: flex;
}

div.global-hub-1 img,
div.global-hub-2 img,
div.global-hub-3 img {
    width: 252px;
    height: 252px;

    margin-right: 1.5em;
}

div.post-details h4 {
    text-transform: uppercase;
    color: red;
    margin-bottom: 1.5em;
}

div.post-details h2 {
    margin-bottom: 0.5em;
}

div.post-details p {
    margin: 1.5em 0;
}


/* banner ad */
div.banner-ad {
    width: 300px;
    height: 600px;
    color: #fff;
}

.fixed-banner-ad {
    position: fixed;
    right: 26rem;
    bottom: 5rem;
}

div.banner-ad aside {
    background-color: #f0555c;
    width: 100%;
    height: 100%;

    padding: 2em 1em;
}

aside h2 {
    font-size: 1.8em;
}

aside p {
    margin: 2em 0;
}

aside span {
    font-weight: bolder;
    font-size: 1.2em;
}

img.uptrend {
    width: 200px;
    height: 200px;
    display: block;
    margin: 3em auto;
}

/* button section #5 */
button.s5-btn {
    cursor: pointer;

    text-transform: capitalize;
    color: #fff;
    font-size: 1em;
    font-weight: bold;

    background-color: #000;

    padding: 1em 7.5em;

    display: block;
    margin: 1em auto;

    border: 0;
    outline: none;
}

button.s5-btn:hover {
    background-color: #f0555c;
}

/* footer */

footer {
    background-color: #000;
    border: 5px solid rgb(19, 18, 18);
}

div.footer-container {
    color: #fff;
    width: 1100px;

    display: block;
    margin: 0 auto;
}

footer div.optin {
    text-align: center;
    
}

footer div.optin h2 {
    
    margin-top: 4em;
    font-size: 2em;
}


footer div.optin p {
    margin: 1em 0;    
}

footer form.optin {
    
    position: relative;
    
}

footer input.email {
    margin-left: -29em;
}

footer input.name {
    position: absolute;
    width: 400px;
}

.s6-btn {
    padding: 1em;
    position: absolute;
    left: 630px;
    
    margin-top: 0.5em;
    background-color: red;
    border: 0;
    color: #fff;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 5px;

    cursor: pointer;
}

address.logo h4 {
    font-family: arial;
    font-size: 3em;
    font-weight: bolder;
}

address.logo p {
    font-size: 1.4em;
    font-weight: 100;
    margin: 1em 0;
}

button.footer-btn {
    background-color: red;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    padding: 0.8em 1em;
    border: 0;
    font-weight: bold;
}

div.footer-menu .underline-vertical {
    margin-right: 0;
}

div.footer-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    padding-left: 0;

}

div.footer-menu ul {
    list-style-type: none;
}

div.footer-menu a {
    text-decoration: none;
    color: #fff;
}

div.menu-zone-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;

    width: 25em;

    margin-left: -8em;
}

div.menu-zone-1 li {
    margin: 1em 0;
}

div.menu-zone-1 a:hover {
    color: red;
}

li.head {
    font-weight: bold;
}

div.menu-zone-2 {
    margin-left: -7em;
}

ul.more li {
    margin: 1em 0;
}

ul.more a:hover {
    color: red;
}

div.footer-socials i {
    margin-right: 1em;
    font-size: 1em;
    cursor: pointer;
}

a.back-top {
    background: #fff;
    font-weight: bold;
    border-radius: 50px;
    padding: 0.5em;
    text-transform: capitalize;
    border: 0;
    outline: none;
    text-decoration: none;
    color: #000;

    position: fixed;
    bottom: 3rem;
    right: 3rem;

    transition: 1s;

    visibility: hidden;
}

p.copyright-text,
p.copyright-text span {
    color: #fff;
    text-align: center;
}