* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body.dark {
    background-color: #000;
    color: #fff;
}
/* main navbar style */
nav.navbar-one {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
}

div.socials i {
    margin: 0 0.5em;
    cursor: pointer;
}

div.socials i:hover {
    color: blue;
}

div.logo {
    font-family: arial;
    font-size: 3em;
    font-weight: bolder;
}

div.date {
    display: inline-flex;
    height: 2.5em;
    
}

p.full-date {
    color: red;
    font-weight: bolder;
    margin-right: 0.5em;
    padding: 1em 0;
}

button.btn {
    background-color: red;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 0.8em;
    border-radius: 5px;
    border: 0;
    outline: 0;
    margin-right: 0.5em;
    cursor: pointer;
}

button.dark-light {
    background-color: red;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0.4em;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
}


/* nav-links style */
nav.nav-links ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1.5em 0;
    
}

div.navlinks-underline {
    height: 0.1em;
    width: 60vw;
    background: #efefef;
    display: block;
    margin: 0 auto;
}

nav.nav-links ul li {
    margin: 0 1em;
}

nav.nav-links ul li a {
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    font-weight: bolder;
}

/* main styles */
/* section #1 */
section.section-one {
    margin-top: 40px;
}
.section-one .container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

div.weekly-top-five {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-right: 1em;
}

.weekly-top-five h1 {
    color: red;
    text-transform: uppercase;
}

.underline {
    height: 0.1em;
    width: 100%;
    background: #efefef;

    margin: 25px 0;
}

div.one {
    display: inline-flex;
    
}

div.one-group {
    position: relative;
    width: 60px;
    height: 65px;

    margin-right: 2.7em;
}

div.one-group img {
    width: 60px;
    height: 65px;
    border-radius: 50%;
    z-index: -1;

    position: absolute;
    
}

p.one {
    color: #000;
    font-size: 2em;
    font-weight: 900;

    position: absolute;
    left: px;
    top: px;
}

p.two {
    color: #000;
    font-size: 2em;
    font-weight: 900;

    position: absolute;
    left: px;
    top: px;
}

p.three {
    color: #000;
    font-size: 2em;
    font-weight: 900;

    position: absolute;
    left: px;
}

p.four {
    color: #000;
    font-size: 2em;
    font-weight: 900;

    position: absolute;
    left: px;
}

p.five {
    color: #000;
    font-size: 2em;
    font-weight: 900;

    position: absolute;
    left: px;
}

div.one i {
    opacity: 0;
    position: absolute;
}

div.one h4 {
    margin-left: 8px;
    margin-top: 5px;
}

div.one h4:hover {
    cursor: pointer;
    color: gray;
}

/* news hub */
div.news-hub {
    width: 630px;
}
div.news-hub img {
    width: 620px;
    height: 500px;
}

div.news-hub h5 {
    text-transform: uppercase;
    color: red;

}

div.news-hub h5,
div.news-hub h2,
div.news-hub p {
    margin: 1em 0;
}

.underline-vertical {
    
    height: 40em;
    width: 0.1em;
    background: #efefef;

    margin: 0 1em;
}

/* latest section */
div.latest {
    max-width: 260px;
}

div.latest header {
    display: flex;
    justify-content: space-between;
    min-width: 260px;
}

div.latest header h1 {
    text-transform: uppercase;
    color: red;
    font-size: medium;
    margin-right: 2em;
}

div.latest header p {
    color: gray;
}

div.two p {
    color: gray;
}
div.two-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    
}

div.two-group h4 {
    cursor: pointer;
    width: 175px;
    margin-right: 5px;
}

div.two-group h4:hover {
    color: gray;
}

div.two-group img {
    width: 80px;
    height: 80px;
    
}

/* *******section #2 top news******* */
div.section-two-container {
    display: block;
    width: 1200px;
    margin: 2em auto;

}

p.sub-title {
    color: red;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 1.5em;
}

div.top-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

div.top-news-one,
div.top-news-two,
div.top-news-three {
    width: 366px;
    margin-right: 1em;
}

div.top-news img {
    width: 366px;
    height: 206px;
}

div.top-news h3:hover {
    cursor: pointer;
    color: gray;
}

div.top-news h3,
div.top-news p {
    margin: 1em 0;
}

p.author-info {
    color: gray;
    font-size: 12px;
}

/* section #3 */
section.section-three {
    background-color: #000;
    color: #fff;
    height: 350px;
}

.section-three h2 {
    text-align: center;
    font-size: 2em;
    margin: 1em 0;
    padding-top: 1.5em;
}

.section-three p {
    font-size: 1.2em;
    text-align: center;
    margin: 0 0 1.5em 0;
}

form.optin {
    display: block;
    width: 900px;
    margin: 2em auto;
}

input.email {
    height: 4.2em;
    width: 300px;
    font-size: 1em;
    outline: none;
} 

input.name {
    height: 4.2em;
    font-size: 1em;
    width: 450px;
    position: relative;
    outline: none;
}

button.s3-btn {
    padding: 1em;
    position: absolute;
    left: 1130px;
    bottom: -898px;
    background-color: red;
    border: 0;
    color: #fff;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 5px;

    cursor: pointer;
}

/* section #4 */
div.s4-container {
    display: flex;
    justify-content: center;
    margin: 1.5em auto
}

h4.s4-cat {
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    margin: 1em 0;
}

div.column-1 {
    width: 590px;
    
}

div.column-1 img {
    width: 580px;
}

div.column-1 h2 {
    font-size: 2.8em;
    cursor: pointer;
    margin-bottom: 1em;
}

div.column-1 h2:hover {
    color: gray;
}



div.column-2, 
div.column-3 {
    width: 254px;
}

div.column-2 img,
div.column-3 img {
    width: 254px;
    height: 190px;
}

div.hub-1 {
    margin-bottom: 2em;
}

div.column-2 h2,
div.column-3 h2 {
    font-weight: 500;
    cursor: pointer;
}

div.column-2 h2:hover,
div.column-3 h2:hover {
    color: gray;
}