* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body.dark {
    background-color: #000;
    color: #fff;
}
/* main navbar style */
nav.navbar-one {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
}

div.socials i {
    margin: 0 0.5em;
    cursor: pointer;
}

div.socials i:hover {
    color: blue;
}

div.logo {
    font-family: arial;
    font-size: 3em;
    font-weight: bolder;
}

div.date {
    display: inline-flex;
    height: 2.5em;
    
}

p.full-date {
    color: red;
    font-weight: bolder;
    margin-right: 0.5em;
    padding: 1em 0;
}

button.btn {
    background-color: red;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 0.8em;
    border-radius: 5px;
    border: 0;
    outline: 0;
    margin-right: 0.5em;
    cursor: pointer;
}

button.dark-light {
    background-color: red;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0.4em;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
}


/* nav-links style */
nav.nav-links ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1.5em 0;
    
}

div.navlinks-underline {
    height: 0.1em;
    width: 60vw;
    background: #efefef;
    display: block;
    margin: 0 auto;
}

nav.nav-links ul li {
    margin: 0 1em;
}

nav.nav-links ul li a {
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    font-weight: bolder;
}

/* main styles */
/* section #1 */
section.section-one {
    margin-top: 40px;
}
.section-one .container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

div.weekly-top-five {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-right: 1em;
}

.weekly-top-five h1 {
    color: red;
    text-transform: uppercase;
}

.underline {
    height: 0.1em;
    width: 100%;
    background: #efefef;

    margin: 25px 0;
}

div.one {
    display: inline-flex;
    
}

div.one-group {
    position: relative;
    width: 60px;
    height: 65px;

    margin-right: 2.7em;
}

div.one-group img {
    width: 60px;
    height: 65px;
    border-radius: 50%;
    z-index: -1;

    position: absolute;
    
}

p.one {
    color: #000;
    font-size: 2em;
    font-weight: 900;

    position: absolute;
    left: px;
    top: px;
}

p.two {
    color: #000;
    font-size: 2em;
    font-weight: 900;

    position: absolute;
    left: px;
    top: px;
}

p.three {
    color: #000;
    font-size: 2em;
    font-weight: 900;

    position: absolute;
    left: px;
}

p.four {
    color: #000;
    font-size: 2em;
    font-weight: 900;

    position: absolute;
    left: px;
}

p.five {
    color: #000;
    font-size: 2em;
    font-weight: 900;

    position: absolute;
    left: px;
}

div.one i {
    opacity: 0;
    position: absolute;
}

div.one h4 {
    margin-left: 8px;
    margin-top: 5px;
}

div.one h4:hover {
    cursor: pointer;
    color: gray;
}

/* news hub */
div.news-hub {
    width: 680px;
}
div.news-hub img {
    width: 680px;
    height: 500px;
}

div.news-hub h5 {
    text-transform: uppercase;
    color: red;

}

div.news-hub h5,
div.news-hub h2,
div.news-hub p {
    margin: 1em 0;
}

.underline-vertical {
    
    height: 40em;
    width: 0.1em;
    background: #efefef;

    margin: 0 1em;
}